In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

In [57]:
# Data File
filepath = ('../Resources/flavors_of_cacao.csv')

# Read CSV
df = pd.read_csv(filepath)
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [58]:
# Data Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [59]:
# Rename columns
df.columns = [
    'company_maker',
    'specific_bean_origin_or_bar_name',
    'ref',
    'review_date',
    'cocoa_percent',
    'company_location',
    'rating',
    'bean_type',
    'broad_bean_origin'
]
print(df.columns)

Index(['company_maker', 'specific_bean_origin_or_bar_name', 'ref',
       'review_date', 'cocoa_percent', 'company_location', 'rating',
       'bean_type', 'broad_bean_origin'],
      dtype='object')

In [60]:
df.head()

,company_maker,specific_bean_origin_or_bar_name,ref,review_date,cocoa_percent,company_location,rating,bean_type,broad_bean_origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [61]:
df2 = df.drop(columns=['bean_type'])
df2.head()

,company_maker,specific_bean_origin_or_bar_name,ref,review_date,cocoa_percent,company_location,rating,broad_bean_origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Peru

In [65]:
df_cleaned = df2.dropna()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1794 entries, 0 to 1794
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   company_maker                     1794 non-null   object
 1   specific_bean_origin_or_bar_name  1794 non-null   object
 2   ref                               1794 non-null   int64
 3   review_date                       1794 non-null   int64
 4   cocoa_percent                     1794 non-null   object
 5   company_location                  1794 non-null   object
 6   rating                            1794 non-null   float64
 7   broad_bean_origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 126.1+ KB